$color-cta : #F2870F;
$black:#707070;
$bg: #F5EDFE;
$bg-2: #F9EBDC;
$top: -20px;
$primary-color: #8E8CD8;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.border-shadow {
  border-radius: 0 0 25px 25px;
  box-shadow: 1px 1px 1px rgb(219, 218, 221);
}

.primary-color {
  color: $primary-color;
}

a {
  text-decoration: none;
}

h3 {
  font-weight: 400;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.7rem;
}

.cta-box {
  margin-top: 1.7rem;
  display: flex;
  justify-content: flex-start;
}

.btn {
  padding: .6rem;
  text-align: center;

  &-cta {
    background-color: $color-cta;
    color: white;
    width: 45%;
    margin-right: 1rem;
  }

  &-cta2 {
    background-color: white;
    color: $primary-color;
    width: 45%;
  }

}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  section {
    padding: 1rem;
    width: 50%;
    // max-width: 300px;
  }
}

.container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0rem 2rem;

}

.title {
  position: relative;

  &::before {
    content: " ";
    width: 30px;
    height: 5px;
    top: -15px;
    background-color: $primary-color;
    position: absolute;
  }
}

header {
  background-color: #E4CCFE;
  position: relative;
  z-index: 300;
  @extend .border-shadow;

  .links-bars {
    display: none;
  }

  .resume {
    background-color: $primary-color;
    padding: 0.5rem;
    color: white !important;
    border-radius: 20px;
  }

  .links {
    a {
      margin-right: 1rem;
      font-size: .7rem;
      font-weight: bold;
      color: #707070;

      &:hover {
        color: $primary-color;
      }
    }

    &-social {
      img {
        width: 15px;
        height: 15px;
      }
    }

  }
}

.main_nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0rem 2rem;
  // height: 4rem;
  justify-content: space-between;

  .logo {
    width: 50px;

    img {
      width: 100%;
    }
  }

  nav {
    margin-right: 0;
  }
}

.benefit {
  z-index: 200;
  background-color: $bg;
  margin-top: $top;
  @extend .border-shadow;

  small {
    display: block;
    margin-bottom: -20px;
  }

  img {
    width: 100%;
  }
}

.services {
  background-color: $bg-2;
  padding-top: $top * -1;
  padding: 2rem 0;
  position: relative;
  top: $top;
  z-index: -1;
  @extend .border-shadow;
   
  &-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .service {
      display: flex;
      flex-direction: column;
      align-items: center;
      // margin: 10px;
      border-radius: 10px;
      padding: 1rem;

      .img-circle {
        border-radius: 50%;
        padding: 1rem;
        margin: 5px;
        background-color: #F6EEFF;
        box-shadow: 0 0 6px #00000012;

        img {
          width: 4rem;
          height: 4rem;
        }
      }

      h3 {
        text-align: center;
        margin-bottom: 0.5rem;
      }
    }
  }
}

.border-radius {
  border-radius: 0 20px 0 20px;
}

.gradient {
  background: linear-gradient(45deg, #F6EEFF, #F9EBDC) !important;
}

.portfolio {
  margin: 2rem 0;
  p {
    font-size: .8rem;
  }

  &-design {
    @extend .border-radius;
    padding: 4rem;
    font-size: 1.1rem;
    border: 1px solid #8E8CD8;
    color: #8E8CD8;
    background-color: white;
    height: 12rem;
    text-align: center;
  }

  &-pattern {
    // content: " ";
    background: url(/pattern.png) no-repeat;
    width: 220px;
    height: 100%;
    padding: 15px 0px 0px 12px;
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &-card {
    img {
      max-width: 100%;
      max-height: 100%;
      // height: 7rem;
      background-size: cover;
    }

    h3 {
      a {
        font-size: 1rem !important;
        font-weight: bold;
      }

      margin: 0.5rem 0;
    }

    p {
      font-size: 12px;
    }

    a {
      font-size: .7rem;
      color: $primary-color;
    }
  }

  &-left {
    display: flex;
    align-self: center;
    flex-direction: column;
  }

  .seeall {
    margin-top: 3rem;
    position: relative;

    img {
      position: absolute;
      left: 0;
      animation-duration: 2s;
      animation-name: toandfro;
      animation-iteration-count: infinite;
    }

    a {
      border: 1px solid $primary-color;
      color: $primary-color;
      padding: .5rem;
      margin-left: 4rem;
    }
  }
}

@keyframes toandfro {
  0% {
    left: 0;
  }

  50% {
    left: 2rem
  }

  100% {
    left: 0
  }
}

.about {

  img {
    @extend .border-radius;
    width: 100%;
  }


  p {
    font-size: 12px;
  }
}

.contact {

  .watermark {
    font-size: 78px;
    font-weight: bolder;
    line-height: 3.5rem;
    opacity: 0.2;
    color: #dcdcdc;
  }

  .email {
    margin: 1rem;

    a {
      background-color: $primary-color;
      padding: .4rem;
      border-radius: 10px;
      color: white;

      &:hover {
        color: $black;
      }
    }
  }

  .phone {
    margin: 1rem;

    a {
      color: $primary-color;

      &:hover {
        color: $black;
      }
    }
  }

  .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;

    label {
      font-size: .8rem;
      font-weight: bold;
    }

    input,
    textarea {
      border-radius: 5px;
      padding: 10px;
      border: none;
      background-color: #f8f8f8;
      outline: none;
      color: $black;
      margin-top: .2rem;
    }
  }

  button {
    color: white;
    border-radius: 5px;
    background-color: $primary-color;
    padding: 0.6rem 1.5rem;
    border: none;

    &:hover {
      cursor: pointer;
      background-color: darken($primary-color, 10%);
    }
  }
}

.footer {
  padding: 1rem;
  background-color: $bg-2;
  border-radius: 20px 20px 0 0;
  font-size: 0.7rem;

  &-social {
    a {
      margin: 0 1rem;

      img {
        width: .8rem;
        height: .8rem;
      }
    }
  }
}

.project {
  .image-wrapper {
    img {
      width: 100%;
      max-height: 390px;
    }
  }
}

@media screen and (min-width:400px) and (max-width: 649px) {
  .portfolio-card {
    width: 50% !important;
  }

}

@media screen and (max-width: 650px) {
  .d-flex {
    flex-direction: column;

    section {
      width: 100%;
    }
  }

  .links {
    display: none;
  }

  .links-bars {
    display: flex !important;
    align-items: center;

    a {
      margin-right: 1rem;
    }
  }

  .main_nav {
    padding: 0;
  }

  .resume {
    font-size: 0.7rem;
  }

  .mobile {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    right: 1rem;
    padding: 10px;

    .resume {
      display: none;
    }

    a {
      margin-bottom: 1rem;
    }
  }

  .portfolio-card {
    width: 100% !important;
  }
}