/* Style the tab */
.tab {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    /* Style the buttons that are used to open the tab content */
    & button {
        border: none;
        border-radius: 20px;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        background-color: #F6F2EE;
        color: #8E8CD8;
        margin: 0 1rem;
        font-weight: bold;

        /* Change background color of buttons on hover */
        &:hover {
            background-color: rgb(247, 208, 164);
        }
        
        /* Create an active/current tablink class */
        &.active {
            background-color: #ccc;
        }
    }
}


/* Style the tab content */
.tabcontent {
    display: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 6px 12px;
    border-top: none;
    .portfolio-card{
        width: 25% ;
        padding: 1rem;
    }
}